*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(33, 8, 50);
    color: white;
    padding-left:20px;
    height: 40px;
}
nav h1{
    align-self: center;
    padding: 5px;
}

body{
    background-color: rgb(234, 214, 248);

}

.all{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.main{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(221, 184, 246);
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}
#X{
    padding: 5px;
    display: flex;
    background-color: rgb(245, 245, 104);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;

}
#O{
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid black;
    background-color: rgb(181, 127, 218);
    align-items: center;
}
.side h1{
    font-size: 40px;
}
#X h1{
    font-size: 40px;
    padding: 5px;
    padding-top: 0;
}
#O h1{
    font-size: 40px;
    padding: 5px;
    padding-top: 0;
}
#reset{
    margin:5px;
    padding:10px;
    width:100px;
    border-radius: 20px;
    background-color: rgb(204, 190, 245);
    cursor: pointer;
}